/* Estilo de la pagina principal */
:root{
  --body: #363968;
  --tertiary: #353b4b;
  --size: 1rem;
  --text: #ffffff;
  --focuspeli:#aeb5d3;
  --borde-img: .5rem;
}
body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body);
  margin: 0;

}
a{
  text-decoration: none;
}
header{
  position: sticky;
  top: 0;
  background-color: black;
  display: flex ;
  align-items: center;
  z-index: 200;
}
.title-head{
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title-head:hover{
  color: var(--focuspeli);
}

.div-input{
  margin-left: 2rem;
  display: flex;
}
input{
  display: block;
  padding: calc(.25 * var(--size) - 1px) calc(.75 * var(--size));
  width: 100%;
  line-height: 2rem;
  background-color: var(--tertiary);
  color: var(--text);
  border-radius: 5rem;
  border: 0;

}
input:focus, textarea:focus, select:focus {
  background-color: white;
  outline: 0;
}
input:hover{
  background-color: #636365;
}
.button-S{
  margin: auto;
  background:fixed;
  font-size: large;
  border-radius: 9px;
  color: aliceblue;
  border: none;
}